# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# Environment Variables
.env
.venv/
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs
logs/
*.log

# Docker
*.container
*.pid
*.seed
*.pid.lock

# Vagrant
.vagrant/

# Pyre type checker
.pyre/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# FastAPI
*.sqlite3
.idea/
.vscode/
